<nav>
  <a routerLink="/home" routerLinkActive="active">home</a>
  <a routerLink="/signal" routerLinkActive="active">signal</a>
  <a routerLink="/computed" routerLinkActive="active">computed</a>
  <a routerLink="/effect" routerLinkActive="active">effect</a>
  <a routerLink="/linked-signal" routerLinkActive="active">linkedSignal</a>
  <a routerLink="/inputs" routerLinkActive="active">inputs</a>
  <a routerLink="/resource" routerLinkActive="active">resource</a>
</nav>
<router-outlet></router-outlet>
