/* You can add global styles to this file, and also import other style files */
html {
  text-rendering: optimizelegibility;
  font-family: Roboto, Arial, Helvetica;
  line-height: 1.4;
  color: #512b2b;
}
